# Operaciones listas

In [ ]:
semestre_1 = [3274,1325,2254,533,6954,7784]
semestre_2 = [8414,7784,425,165,7784,555]
producots_exportacion = ['Computadoras','Tablets','Teclados','Smart Watch']

totales = semestre_1 + semestre_2
print(totales)

print([3274,1325,2254,533,6954,7784] + [8414,7784,425,165,7784,555])

[3274, 1325, 2254, 533, 6954, 7784, 8414, 7784, 425, 165, 7784, 555]
[3274, 1325, 2254, 533, 6954, 7784, 8414, 7784, 425, 165, 7784, 555]

In [ ]:
print(totales*3)

[3274, 1325, 2254, 533, 6954, 7784, 8414, 7784, 425, 165, 7784, 555, 3274, 1325, 2254, 533, 6954, 7784, 8414, 7784, 425, 165, 7784, 555, 3274, 1325, 2254, 533, 6954, 7784, 8414, 7784, 425, 165, 7784, 555]

In [ ]:
totales[-1] = 6555
print(totales)

[3274, 1325, 2254, 533, 6954, 7784, 8414, 7784, 425, 165, 7784, 6555]

In [ ]:
totales[9]=2165
print(totales)

[3274, 1325, 2254, 533, 6954, 7784, 8414, 7784, 425, 2165, 7784, 6555]

In [ ]:
# Metodos

In [ ]:
#Contar elementos dentro de la lista
totales.count(7784)

3

In [ ]:
#Alternativa apppend, pero este inserta en el indice que gustes
producots_exportacion.insert(2, 'Audifonos')

In [ ]:
producots_exportacion

['Computadoras', 'Tablets', 'Audifonos', 'Teclados', 'Smart Watch']

In [ ]:
producots_exportacion.insert(1, 'Computadoras')
producots_exportacion

['Computadoras',
 'Computadoras',
 'Tablets',
 'Audifonos',
 'Teclados',
 'Smart Watch']

In [ ]:
# Eliminar elemento dado el indice
producots_exportacion.pop(1)
print(producots_exportacion)

['Computadoras', 'Tablets', 'Audifonos', 'Teclados', 'Smart Watch']

In [ ]:
# Eliminar elemento dado nombre
producots_exportacion.remove('Computadoras')
producots_exportacion

['Tablets', 'Audifonos', 'Teclados', 'Smart Watch']

In [ ]:
#Sort, ordenamineto

totales.sort()
print(totales)

[425, 533, 1325, 2165, 2254, 3274, 6555, 6954, 7784, 7784, 7784, 8414]

In [ ]:
producots_exportacion.sort()
print(producots_exportacion)

['Audifonos', 'Smart Watch', 'Tablets', 'Teclados']

In [ ]:
#Unicamente voltea la lista
totales.reverse()
totales

[8414, 7784, 7784, 7784, 6954, 6555, 3274, 2254, 2165, 1325, 533, 425]

In [ ]:
# ordenamiento de mayor a menor
producots_exportacion.sort(reverse=True)
producots_exportacion

['Teclados', 'Tablets', 'Smart Watch', 'Audifonos']

In [ ]:
totales.sort(reverse=True)
totales

[8414, 7784, 7784, 7784, 6954, 6555, 3274, 2254, 2165, 1325, 533, 425]

# Operaciones con tuplas: Coleccion de objetos ordenados e inmutables

In [ ]:
semestre_1 = (3274, 1325, 2254, 533, 6954, 7784)
semestre_1

(3274, 1325, 2254, 533, 6954, 7784)

In [ ]:
es_tupla = ('Emtech',)
print(es_tupla)

('Emtech',)

In [ ]:
#Tupla vacia
tupla_vacia = tuple()

enero = ('Computadora', 1850)
print('Productos: ', enero[0])
print('Total exportaciones: ', enero[1])

Productos:  Computadora
Total exportaciones:  1850

In [ ]:
print(semestre_1)
semestre_1 = semestre_1 + (860,230)
print(semestre_1)

#sort y append aqui no es valido

(3274, 1325, 2254, 533, 6954, 7784)
(3274, 1325, 2254, 533, 6954, 7784, 860, 230)

In [ ]:
#Si tiene metodo count
semestre_1.count(230)

1

# Conjutos: estos no tienen orden ni duplicados

In [ ]:
paises = ['Mexico','Honduras','Brasil', 'Honduras', 'Jamaica', 'Mexico',
          'Colombia', 'Nicaragua', 'Panama', 'Paraguay','Brasil',
          'Argentina', 'Mexico','Brasil', 'Chile', 'Colombia',
          'Panama', 'Peru', 'Argentina', 'Uruguay']

print(len(paises))

20

In [ ]:
# Funcion set
conjunto_paises = set(paises)
print(conjunto_paises)

{'Colombia', 'Brasil', 'Jamaica', 'Paraguay', 'Honduras', 'Mexico', 'Panama', 'Nicaragua', 'Peru', 'Argentina', 'Uruguay', 'Chile'}

In [ ]:
print(len(conjunto_paises))

12

In [ ]:
conjunto_exportaciones = {874,4829,3402,324,420}
print(conjunto_exportaciones)

{420, 324, 874, 3402, 4829}

In [ ]:
# funcion add y pop
conjunto_paises.add('Ecuador')
print(conjunto_paises)

conjunto_paises.pop()
print(conjunto_paises)

#Elimina un elemento aleatorio

{'Colombia', 'Brasil', 'Jamaica', 'Paraguay', 'Honduras', 'Mexico', 'Panama', 'Nicaragua', 'Ecuador', 'Peru', 'Argentina', 'Uruguay', 'Chile'}
{'Brasil', 'Jamaica', 'Paraguay', 'Honduras', 'Mexico', 'Panama', 'Nicaragua', 'Ecuador', 'Peru', 'Argentina', 'Uruguay', 'Chile'}

In [ ]:
#Eliminar elemnto particular
print(conjunto_paises)
conjunto_paises.remove('Honduras')
print(conjunto_paises)

{'Brasil', 'Jamaica', 'Paraguay', 'Honduras', 'Mexico', 'Panama', 'Nicaragua', 'Ecuador', 'Peru', 'Argentina', 'Uruguay', 'Chile'}
{'Brasil', 'Jamaica', 'Paraguay', 'Mexico', 'Panama', 'Nicaragua', 'Ecuador', 'Peru', 'Argentina', 'Uruguay', 'Chile'}

In [ ]:
top_paises = {'Mexico','Colombia', 'Argentina', 'Costa Rica'}

diferencia = conjunto_paises.difference(top_paises)
print(diferencia)

{'Brasil', 'Jamaica', 'Paraguay', 'Panama', 'Nicaragua', 'Ecuador', 'Peru', 'Uruguay', 'Chile'}

In [ ]:
interseccion = conjunto_paises.intersection(top_paises)
print(interseccion)

{'Mexico', 'Argentina'}

In [ ]:
union = conjunto_paises.union(top_paises)
print(union)

{'Colombia', 'Brasil', 'Jamaica', 'Paraguay', 'Costa Rica', 'Mexico', 'Panama', 'Nicaragua', 'Ecuador', 'Peru', 'Argentina', 'Uruguay', 'Chile'}

# Diccionarios

In [ ]:
lista_exportaciones = [3274,1325,2254,534,6954,7784,8414,7784,425,165,7784,6555]

exportaciones = {'Enero':lista_exportaciones[0],
                 'Febrero':lista_exportaciones[1],
                 'Marzo':lista_exportaciones[2],
                 'Abril':lista_exportaciones[3],
                 'Mayo':lista_exportaciones[4],
                 'Junio':lista_exportaciones[5],
                 'Julio':lista_exportaciones[6],
                 'Agosto':lista_exportaciones[7],
                 'Septiembre':lista_exportaciones[8],
                 'Octubre':lista_exportaciones[9],
                 'Noviembre':lista_exportaciones[10],
                 }

print(exportaciones)

{'Enero': 3274, 'Febrero': 1325, 'Marzo': 2254, 'Abril': 534, 'Mayo': 6954, 'Junio': 7784, 'Julio': 8414, 'Agosto': 7784, 'Septiembre': 425, 'Octubre': 165, 'Noviembre': 7784}

In [ ]:
print(exportaciones['Marzo'])

2254

In [ ]:
exportaciones['Diciembre'] = 6555
print(exportaciones)

{'Enero': 3274, 'Febrero': 1325, 'Marzo': 2254, 'Abril': 534, 'Mayo': 6954, 'Junio': 7784, 'Julio': 8414, 'Agosto': 7784, 'Septiembre': 425, 'Octubre': 165, 'Noviembre': 7784, 'Diciembre': 6555}

In [ ]:
#ELIMINAR 
del(exportaciones['Enero'])
print(exportaciones)

{'Febrero': 1325, 'Marzo': 2254, 'Abril': 534, 'Mayo': 6954, 'Junio': 7784, 'Julio': 8414, 'Agosto': 7784, 'Septiembre': 425, 'Octubre': 165, 'Noviembre': 7784, 'Diciembre': 6555}

In [ ]:
exportaciones[2018] = [520,630,120]
print(exportaciones)

{'Febrero': 1325, 'Marzo': 2254, 'Abril': 534, 'Mayo': 6954, 'Junio': 7784, 'Julio': 8414, 'Agosto': 7784, 'Septiembre': 425, 'Octubre': 165, 'Noviembre': 7784, 'Diciembre': 6555, 2018: [520, 630, 120]}

In [ ]:
exportaciones[2019] = {'Enero':520,
                       'Febrero':630,
                       'Marzo':120}
print(exportaciones)

{'Febrero': 1325, 'Marzo': 2254, 'Abril': 534, 'Mayo': 6954, 'Junio': 7784, 'Julio': 8414, 'Agosto': 7784, 'Septiembre': 425, 'Octubre': 165, 'Noviembre': 7784, 'Diciembre': 6555, 2018: [520, 630, 120], 2019: {'Enero': 520, 'Febrero': 630, 'Marzo': 120}}

In [ ]:
print(exportaciones[2019])

{'Enero': 520, 'Febrero': 630, 'Marzo': 120}

In [ ]:
exp2019 = {'Enero': 3274, 'Febrero':1325 , 'Marzo': 2254}
exp2018 = {'Enero': 210, 'Febrero': 610, 'Marzo': 120}
exp2017 = {'Enero': 420, 'Febrero': 223, 'Marzo': 985}
exp2016 = {'Enero': 590, 'Febrero': 3432, 'Marzo': 763}

exportaciones = [{'Enero': 3274, 'Febrero':1325 , 'Marzo': 2254},
                 {'Enero': 210, 'Febrero': 610, 'Marzo': 120},
                 {'Enero': 420, 'Febrero': 223, 'Marzo': 985},
                 {'Enero': 590, 'Febrero': 3432, 'Marzo': 763}]

exportaciones = []

exportaciones.append(exp2019)
exportaciones.append(exp2018)
exportaciones.append(exp2017)
exportaciones.append(exp2016)

print(exportaciones)

[{'Enero': 3274, 'Febrero': 1325, 'Marzo': 2254}, {'Enero': 210, 'Febrero': 610, 'Marzo': 120}, {'Enero': 420, 'Febrero': 223, 'Marzo': 985}, {'Enero': 590, 'Febrero': 3432, 'Marzo': 763}]

In [ ]:
print(exportaciones[0])
print(exportaciones[1]['Marzo'])

{'Enero': 3274, 'Febrero': 1325, 'Marzo': 2254}
120

In [ ]:
# Funcion Dict
datos = [('Enero',650), ('Febrero',420),('Marzo',510)]
print(datos)

datos_meses = dict(datos)
print(datos_meses)

[('Enero', 650), ('Febrero', 420), ('Marzo', 510)]
{'Enero': 650, 'Febrero': 420, 'Marzo': 510}

# FUNCION LEN() Y SUM()

In [ ]:
exp2019 = [3274,1325,2254,534,6954,7784,8414,7784,425,165,7784,6555]

numero_exp = len(exp2019)
total_exp = sum(exp2019)

promedio_exp2019 = total_exp/numero_exp

print('El promedio de exportaciones realizadas en 2019 es: ', promedio_exp2019)

El promedio de exportaciones realizadas en 2019 es:  4437.666666666667

In [ ]:
lista_exportaciones = [3274,1325,2254,534,6954,7784,8414,7784,425,165,7784,6555]

exportaciones = {'Enero':lista_exportaciones[0],
                 'Febrero':lista_exportaciones[1],
                 'Marzo':lista_exportaciones[2],
                 'Abril':lista_exportaciones[3],
                 'Mayo':lista_exportaciones[4],
                 'Junio':lista_exportaciones[5],
                 'Julio':lista_exportaciones[6],
                 'Agosto':lista_exportaciones[7],
                 'Septiembre':lista_exportaciones[8],
                 'Octubre':lista_exportaciones[9],
                 'Noviembre':lista_exportaciones[10],
                 }

print(exportaciones)

{'Enero': 3274, 'Febrero': 1325, 'Marzo': 2254, 'Abril': 534, 'Mayo': 6954, 'Junio': 7784, 'Julio': 8414, 'Agosto': 7784, 'Septiembre': 425, 'Octubre': 165, 'Noviembre': 7784}

In [ ]:
# Suma en diccionarios
print(exportaciones.values())
longitud = len(exportaciones)
suma = sum(exportaciones.values())
print(suma/longitud)

dict_values([3274, 1325, 2254, 534, 6954, 7784, 8414, 7784, 425, 165, 7784])
4245.181818181818

# Desestructuracion

In [ ]:
exportaciones = 850,920
mexico, canada = exportaciones
print(mexico)
print(canada)

850
920

In [ ]:
china, japon = 1810, 156

colombia, chile, brasil = [510,630,450]

In [ ]:
paises = [('Mexico',850), ('Canada',920), ('China',1940)]

for nombre, total in paises:
  print(f'{nombre} realizo {total} exportaciones en 2019')

Mexico realizo 850 exportaciones en 2019
Canada realizo 920 exportaciones en 2019
China realizo 1940 exportaciones en 2019

# Funcion ZIP

In [ ]:
paises = ('Mexico', 'Canada', 'China', 'Japon')
importaciones = (430, 560, 310, 695)
exportaciones = (1932, 3540, 4800)

agrupacion = zip(paises, importaciones, exportaciones)
print(agrupacion)

#print(list(agrupacion))
#print(tuple(agrupacion))
print(set(agrupacion))

<zip object at 0x7fe49f837190>
{('Canada', 560, 3540), ('China', 310, 4800), ('Mexico', 430, 1932)}

In [ ]:
print(dict(zip(paises, exportaciones)))

{'Mexico': 1932, 'Canada': 3540, 'China': 4800}

In [ ]:
print(list(zip(*paises)))

[('M', 'C', 'C', 'J'), ('e', 'a', 'h', 'a'), ('x', 'n', 'i', 'p'), ('i', 'a', 'n', 'o'), ('c', 'd', 'a', 'n')]

In [ ]:
for pais, exportacion in zip(paises, exportaciones):
  print(pais, exportacion)

Mexico 1932
Canada 3540
China 4800

# Funciones

In [ ]:
def agregar():
  exp2019 = [3279, 1325, 2254, 7784, 425, 165, 7784, 6555]
  exportaciones = int(input('Ingresa las exportaciones realizadas: '))
  exp2019.append(exportaciones)
  exp2019.sort(reverse=True)
  print(exp2019)

def multiplicar():
  print(6*5)

multiplicar()
agregar()

30
Ingresa las exportaciones realizadas: 5
[7784, 7784, 6555, 3279, 2254, 1325, 425, 165, 5]

In [ ]:
exp2019 = [3274,1325,2254,7784,425,165,7784,6555]

def agregar(lista):
  exportaciones = int(input('Ingresa las exportaciones realizadas: '))
  lista.append(exportaciones)
  lista.sort(reverse = True)
  print(lista)

agregar(exp2019)
agregar([50,126,763,41,193,165])

Ingresa las exportaciones realizadas: 3
[7784, 7784, 6555, 3274, 2254, 1325, 425, 165, 3]
Ingresa las exportaciones realizadas: 9
[763, 193, 165, 126, 50, 41, 9]

In [ ]:
paises = [
          {'pais':'Mexico' , 'fecha':2019, 'exp': (4930,2045,4836)} ,       
          {'pais': 'Canada', 'fecha':2019, 'exp': (4782,6984,47059,7365)},
          {'pais':'Brasil' , 'fecha':2018, 'exp': (85704,74632)},
          {'pais': 'China', 'fecha':2019, 'exp': (4730,48526,6934,12820)},
          {'pais': 'Japon', 'fecha':2018, 'exp': (19314,4183,4580,4750)},
]

def promedio_exp(pais_a_calcular=paises[0], fecha_para_calcular=2019):
  if pais_a_calcular['fecha'] == fecha_para_calcular:
    nombre = pais_a_calcular['pais']
    exportaciones = pais_a_calcular['exp']
    promedio = sum(exportaciones) / len(exportaciones)
    print(f'Exportaciones promedio en {nombre}: {promedio}')

for pais in paises:
  promedio_exp(fecha_para_calcular = 2019, pais_a_calcular=pais)
  #promedio_exp()

Exportaciones promedio en Mexico: 3937.0
Exportaciones promedio en Canada: 16547.5
Exportaciones promedio en China: 18252.5

# Retornando valores en Python

In [ ]:
paises = [
          {'pais':'Mexico' , 'fecha':2019, 'exp': (4930,2045,4836)} ,       
          {'pais': 'Canada', 'fecha':2019, 'exp': ()},
          {'pais':'Brasil' , 'fecha':2018, 'exp': (85704,74632)},
          {'pais': 'China', 'fecha':2019, 'exp': (4730,48526,6934,12820)},
          {'pais': 'Japon', 'fecha':2018, 'exp': ()},
]


def promedio_exp(pais):
  if len(pais['exp']) == 0:
         return 'No hay exportaciones'
  else:
    return sum(pais['exp']) / len(pais['exp'])

def nombre_pais(pais):
  nombre = pais['pais']
  return nombre

def mostrar_info(pais):
  nombre = nombre_pais(pais)
  promedio = promedio_exp(pais)
  print(f'Exportaciones promedio en {nombre}: {promedio}')

#for pais in paises:
#  print(mostrar_info(pais))
  
for pais in paises:
  print(nombre_pais(pais))

Mexico
Canada
Brasil
China
Japon

# Funcion lambda

In [ ]:
#def multiplicar(a,b):
#  return a*b

multiplicar = lambda a,b: a*b

print(multiplicar(9,9))

81

In [ ]:
paises = [
          {'pais':'Mexico' , 'fecha':2019, 'exp': (4930,2045,4836)} ,       
          {'pais': 'Canada', 'fecha':2019, 'exp': (4782,6984,47059,7365)},
          {'pais':'Brasil' , 'fecha':2018, 'exp': (85704,74632)},
          {'pais': 'China', 'fecha':2019, 'exp': (4730,48526,6934,12820)},
          {'pais': 'Japon', 'fecha':2018, 'exp': (19314,4183,4580,4750)},
]

promedio = lambda secuencia: sum(secuencia)/len(secuencia)

for pais in paises:
  print(promedio(pais['exp']))

3937.0
16547.5
80168.0
18252.5
8206.75

# .txt

In [ ]:
import os
os.chdir('/content/drive/MyDrive/Colab Notebooks/Santander_Alta_Empleabilidad/bin')

In [ ]:
archivo = open('informacion.txt', 'r')

#contenido = archivo.read()
#contenido = archivo.readline()
#print(contenido)
#print(archivo.readline())

#for linea in archivo:
#  print(linea)

lista_contenido = archivo.readlines()
print(lista_contenido)

archivo.close()

['Mexico 2584\n', 'Canada 894\n', 'Estados Unidos 9597\n', 'Argentina 647\n', 'Colombia 221\n', 'China 9624\n', 'Japon 7568\n', 'Francia 741\n', 'Chile 625\n', 'Alemania 9711']

In [ ]:
escribir_archivo = open('archivo_escritura.txt','w')

escribir_archivo.write('Exportaciones realizadas por pais: \n')

'''for elemento in lista_contenido:
  escribir_archivo.write(elemento)'''

escribir_archivo.writelines(lista_contenido)

escribir_archivo.close()

In [ ]:
escribir_archivo = open('archivo_escritura.txt','a')

nuevo_dato = input('Ingresa nueva infromacion: ')
escribir_archivo.write('\n' + nuevo_dato)

escribir_archivo.close()

Ingresa nueva infromacion: Brazil 854

# .csv

In [ ]:
import csv

In [ ]:
#archivo_csv = open('exportaciones2020.csv','r')
#archivo_csv.close()

with open('exportaciones2020.csv', 'r') as archivo_csv:
  #lector = csv.reader(archivo_csv, delimiter=',')
  lector = csv.DictReader(archivo_csv)

  for linea in lector:
    print(linea)

OrderedDict([('origen', 'mexico'), ('destino', 'china'), ('total', '18593')])
OrderedDict([('origen', 'mexico'), ('destino', 'japon'), ('total', '2353')])
OrderedDict([('origen', 'japon'), ('destino', 'mexico'), ('total', '38473')])
OrderedDict([('origen', 'brasil'), ('destino', 'estados unidos'), ('total', '472832')])
OrderedDict([('origen', 'canada'), ('destino', 'argentina'), ('total', '324')])
OrderedDict([('origen', 'canada'), ('destino', 'mexico'), ('total', '29380')])
OrderedDict([('origen', 'japon'), ('destino', 'brasil'), ('total', '3726')])
OrderedDict([('origen', 'china'), ('destino', 'francia'), ('total', '12344')])
OrderedDict([('origen', 'mexico'), ('destino', 'estados unidos'), ('total', '24723')])

In [ ]:
info = [
        ('Mexico','cars'),
        ('Canada', 'petroleum'),
        ('United States', 'planes'),
        ('China', 'electronic'),
        ('South Korea', 'computers'),
        ('Germany', 'cars')
       ]

with open('info_exp.csv', 'w') as archivo:
  escritor = csv.writer(archivo)
  escritor.writerows(info)

In [ ]:
paises = [
          {'pais':'Mexico' , 'fecha':2019, 'exp': 2045} ,       
          {'pais': 'Canada', 'fecha':2019, 'exp': 6984},
          {'pais':'Brasil' , 'fecha':2018, 'exp': 74632},
          {'pais': 'China', 'fecha':2019, 'exp': 48526},
          {'pais': 'Japon', 'fecha':2018, 'exp': 4183},
]

with open('dict_exp.csv','w') as archivo_dict:
  campos = ['fecha','pais','exp']
  escritor = csv.DictWriter(archivo_dict, fieldnames=campos)
  escritor.writeheader()
  escritor.writerows(paises)

# Aplicacion - Conocimientos Avanzados

In [ ]:
import csv
totales = []
with open('exportaciones2020.csv', 'r') as archivo_csv:
  lector = csv.reader(archivo_csv)

  for linea in lector:
    if linea[2] == 'total':
      continue
    totales.append(int(linea[2]))

print('El total de las exportaciones es: ', sum(totales))

El total de las exportaciones es:  602748

In [ ]:
exp_mexico = []

with open('exportaciones2020.csv', 'r') as archivo_csv:
  lector = csv.DictReader(archivo_csv)

  for linea in lector:
    if linea['origen'] == 'mexico':
      exp_mexico.append(int(linea['total']))

print(exp_mexico)
print('Exportaciones totales de Mexico: ', sum(exp_mexico))

[18593, 2353, 24723]
Exportaciones totales de Mexico:  45669